{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Kijabe Printing Press</title>
    <link rel="shortcut icon" href="img/ICON.ico">
    <link rel="stylesheet" href="{% static 'assets/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap ' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %}">
</head>