{% load static %}

<nav class="navbar navbar-expand-lg">
    <div class="">
        <!-- Logo -->
        <div class="logo-wrapper navbar-brand valign">
            <a href="index.html">
                <div class="logo">
                    <img src="{% static 'assets/img/logoo.png' %}" class="logo-img" alt="">
                </div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"><i class="ti-line-double"></i></span> </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">

                    <a class="nav-link {{home_nav}}" id="home_nav" href="{% url 'homepage:index' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link {{nav_about}}" id='nav_about' href="{% url 'homepage:about' %}">About</a></li>
                <li class="nav-item"><a class="nav-link {{nav_printing}}" id='nav_about' href="{% url 'homepage:printing' %}">Printing Services</a></li>
                <li class="nav-item"><a class="nav-link {{nav_printing}}" id='nav_about' href="{% url 'homepage:sifuB' %}">Our Products</a></li>
                

                <li class="nav-item"><a class="nav-link {{nav_sifu_bwana}}" id="nav_sifu_bwana" href="{% url 'homepage:sifuBwana' %}">Sifu Bwana</a></li>
                <li class="nav-item"><a class="nav-link {{nav_news}}" id="nav_news" href="{% url 'homepage:ExerciseBooks' %}">Exercise Book</a></li>
                <li class="nav-item"><a class="nav-link {{nav_get_a_quote}}" id="nav_get_a_quote" href="{% url 'homepage:get_a_quote' %}">Bible Production</a></li>
                <li class="nav-item"><a class="nav-link {{nav_contact}}" id="nav_contact" href="{% url 'homepage:contact' %}">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>