{% extends 'base.html' %}

{% load static %}

{% block content %}


 <!-- Header Banner -->
 <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'assets/img/slider/1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>Quality Garanteed</h5>
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp"> 
                <span>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                </span>
                <div class="section-subtitle">Kijabe Printing Press</div>
                <div class="section-title">Committed to Printing with Integrity</div>
                <p>Our job is to focus on the needs of our clients. We offer you quality printing
                    services at affordable prices. We really do understand how important your work is to you and treat every job as if it was our only job, paying close attention to every detail. We are committed to meeting deadline and strict timelines. The demonstration of our professionalism is the significant and prestigious client base we have.</p>
                    <p>We have a dedicated team of management and professional staff; we therefore give you expert advice and produce quality print work. We promptly respond to customer enquiries and requests, and the average turnaround time for placed orders is two weeks; depending on the customer needs, this time can get even shorter.</p>
                    <p>We are situated in AIC Kijabe Mission, which is approximately 50 kms from Nairobi. We also have a marketing office at A.I.C Central Office in Upperhill, Nairobi, next to the British High Commission.</p>
                <!-- reservation -->
                <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservation</p> <a href="tel:855-100-4444">0715 672 029</a>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="{% static 'assets/img/rooms/16.jpg' %}" alt="" class="mt-90 mb-30"> </div>
            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp"> <img src="{% static 'assets/img/rooms/17.jpg' %}" alt=""> </div>
        </div>
    </div>
</section>
<!-- Testiominals -->
<section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0" data-background="{% static 'assets/img/slider/2.jpg' %}" data-overlay-dark="3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="testimonials-box">
                        <div class="head-box">
                            <h6>Background</h6>
                            <h4>Our History</h4>
                            <div class="line"></div>
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item"> 
                                <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                                <p>AIC Kijabe Printing Press was established in the year 1915 as an arm of Africa Inland Church to provide reading materials for the  propagation of the Gospel. The technology and low demand at the time dictated for it’s humble beginning whereby at the beginning a stationary bicycle was peddled to provide the power needed to run the printing machine. However, as demand increased, a diesel engine was used to provide the power.</p>
                            </div>
                            <div class="item"> <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                               <p>In response to increasing printing needs, Africa Inland Church in collaboration with Africa Inland Mission (AIM) found it necessary in 1953 to make the Printing Press a fully fledged department of the church. In 1971, A.I.M. handed over the running of the Press to the AIC Central Church Head Office.</p>
                            </div>
                            <div class="item"> 
                                <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                                <p>Since then AIC Kijabe Printing Press has been under the A.I.C. Central Office who in their wisdom appoint a Board of Management to manage the Press. In 1984 Africa Inland Church Kijabe Printing Press was registered as a Company limited by guarantee and having no share capital.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




    <!-- Services -->
    <section class="services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left"><img src="{% static 'assets/img/restaurant/4.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            
                        <h4>OUR VISION</h4>
                        <P>To become the leading Christian printing firm in Africa and beyond.</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>OUR MISSION</h4>
                            <P>To provide quality, efficient and affordable printing services to all our clients and to support the Church and other Christian organizations in fulfilling the Great
                                Commission.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"><img src="{% static 'assets/img/spa/5.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left"><img src="{% static 'assets/img/spa/6.jpeg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>OUR CORE VALUES</h4>
                            <P>
                                <LI>Integrity</LI>
                                <li>Commitment</li>
                                <li>Dynamism</li>
                                <li>Reliability</li>
                                <li>Excellence</li>
                                <li>Innovation</li>
                            </P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                           <h4>Our Motto</h4>
                            <p>Committed to Printing with Integrity</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"><img src="{% static 'assets/img/spa/7.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Team -->
<section class="team section-padding bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Professionals</div>
                <div class="section-title">Meet The Team</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                {% if team %}
                {% for t in  team %}
                <div class="item">
                    <div class="img"> <img src="{% static 'assets/img/team/7.png' %}' %}" alt=""> </div>
                    <div class="info">
                        <h6>{{t.name}}</h6>
                        <p>{{t.description}}</p>
                        <div class="social valign">
                            <div class="full-width"> 
                               <a href="#"><i class="ti-instagram"></i></a> 
                               <a href="#"><i class="ti-twitter"></i></a> 
                               <a href="#"><i class="ti-facebook"></i></a> 
                               <a href="#"><i class="ti-pinterest"></i></a>
                               <p>victoria@hotel.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
                {% endif %}
              
            </div>
        </div>
    </div>
</section>

  <!-- Clients -->
  <section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-7 owl-carousel owl-theme">
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/1.png' %}" alt=""></a>
                </div>
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/2.png' %}" alt=""></a>
                </div>
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/3.png' %}" alt=""></a>
                </div>
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/4.png' %}" alt=""></a>
                </div>
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/5.png' %}" alt=""></a>
                </div>
                <div class="clients-logo">
                    <a href="#0"><img src="{% static 'assets/img/clients/6.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}