{% extends 'base.html' %}

{% load static %}

{% block content %}


 <!-- Header Banner -->
 <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="{% static 'assets/img/slider/1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h5>Quality Garanteed</h5>
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-10 animate-box" data-animate-effect="fadeInUp"> 
                <span>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                </span>
                <div class="section-subtitle">Kijabe Printing Press</div>
                <div class="section-title">About Kijabe</div>
                <p>AIC Kijabe Printing Press was started in the 1915 as an arm of Africa Inland Mission (AIM). Initially we were established to print Christian literature, but later ventured into commercial printing while still upholding its Christian identity and values. <span id="spanMore" style="color:blue;cursor:pointer;">(Read More)</span> <span id="spanLess"  style="color:red;cursor:pointer;display:none;">(Read Less)</span></p>
                    
                    
                <div id="moreKijabe" style="display:none;">
                    <p>We are a Christian based printing firm registered as a private limited company. 
                        The original purpose of the press was to provide reading materials for propagation of the Gospel.  The church had found that the Kenyans who were being converted and who were slowly being introduced to formal learning needed to have reading materials to ensure they become grounded in God’s word. The press was started to meet this need
                        </p>
                    <p>
                        The technology or the time and the low demand dictated for the humble beginnings of the press where at the beginning a stationary bicycle was peddled to provide the power needed to run the printing machine.  However, as the demand increased, a diesel engine was used to provide the power.
                    </p>

                    <p>
                        The number of converts, the number of missionaries and even pastors increased over the years and Africa Inland Church (AIC) in collaboration with AIM found it necessary in 1953 to make Kijabe Printing Press a fully-fledged department with a full time missionary assigned to manage it.  This arrangement continued until 1971 when AIM handed over the running of the Press to the AIC Central Church office.  Since then, the press has been under the AIC Central Office who in their wisdom appoints a Board of Management to manage its affairs. In 1984, Kijabe Printing Press was registered as a Company limited by guarantee and not having any share capital.
                    </p>

                    <p>

                        By God’s grace we have grown over the to become a leading printing firm in Kenya. We are also a growing brand in Africa.
                    </p>

                    <p>
                        We are situated in AIC Kijabe Missionary Center, approximately 50 km from Nairobi and about 5 Km off Nairobi–Nakuru trunk road in Kiambu County.  We also have a marketing office in Nairobi in AIC headquarters at Upper hill road next to the British High Commission.
                    </p>
                    
                
                <div>
                   
                    <!-- reservation -->
                
                {% comment %} <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservation</p> <a href="tel:855-100-4444">0715 672 029</a>
                    </div>
                </div> {% endcomment %}
            </div>
          
        </div>
    </div>
</section>
<!-- Testiominals -->
{% comment %} <section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0" data-background="{% static 'assets/img/slider/2.jpg' %}" data-overlay-dark="3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="testimonials-box">
                        <div class="head-box">
                            <h6>Background</h6>
                            <h4>Our History</h4>
                            <div class="line"></div>
                        </div>
                        <div class="owl-carousel owl-theme">
                            <div class="item"> 
                                <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                                <p>AIC Kijabe Printing Press was established in the year 1915 as an arm of Africa Inland Church to provide reading materials for the  propagation of the Gospel. The technology and low demand at the time dictated for it’s humble beginning whereby at the beginning a stationary bicycle was peddled to provide the power needed to run the printing machine. However, as demand increased, a diesel engine was used to provide the power.</p>
                            </div>
                            <div class="item"> <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                               <p>In response to increasing printing needs, Africa Inland Church in collaboration with Africa Inland Mission (AIM) found it necessary in 1953 to make the Printing Press a fully fledged department of the church. In 1971, A.I.M. handed over the running of the Press to the AIC Central Church Head Office.</p>
                            </div>
                            <div class="item"> 
                                <span class="quote"><img src="{% static 'assets/img/quot.png' %}" alt=""></span>
                                <p>Since then AIC Kijabe Printing Press has been under the A.I.C. Central Office who in their wisdom appoint a Board of Management to manage the Press. In 1984 Africa Inland Church Kijabe Printing Press was registered as a Company limited by guarantee and having no share capital.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}




    <!-- Services -->
    <section class="services ">
        <div  class="container sss">
            <p id="1_clikc" onclick="handClikc('1_clikc')"><span></span></p>
            <p id="2_clikc" onclick="handClikc('2_clikc')">Our Vision <span></span></p>
            <p id="3_clikc" onclick="handClikc('3_clikc')">Our Mision <span></span></p>
            <p id="4_clikc" onclick="handClikc('4_clikc')">Our Core Values <span></span></p>
            <p id="5_clikc" onclick="handClikc('5_clikc')">Our Moto <span></span></p>
            <p id="6_clikc" onclick="handClikc('6_clikc')"><span></span></p>
            {% comment %} <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left"><img src="{% static 'assets/img/restaurant/4.jpg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            
                        <h4>OUR VISION</h4>
                        <P>To become the leading Christian printing firm in Africa and beyond.</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>OUR MISSION</h4>
                            <P>To provide quality, efficient and affordable printing services to all our clients and to support the Church and other Christian organizations in fulfilling the Great
                                Commission.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"><img src="{% static 'assets/img/spa/5.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0 animate-box" data-animate-effect="fadeInLeft">
                    <div class="img left"><img src="{% static 'assets/img/spa/6.jpeg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 p-0 bg-cream valign animate-box" data-animate-effect="fadeInRight">
                    <div class="content">
                        <div class="cont text-left">
                            <h4>OUR CORE VALUES</h4>
                            <P>
                                <LI>Integrity</LI>
                                <li>Commitment</li>
                                <li>Dynamism</li>
                                <li>Reliability</li>
                                <li>Excellence</li>
                                <li>Innovation</li>
                            </P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-cream p-0 order2 valign animate-box" data-animate-effect="fadeInLeft">
                    <div class="content">
                        <div class="cont text-left">
                           <h4>Our Motto</h4>
                            <p>Committed to Printing with Integrity</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 order1 animate-box" data-animate-effect="fadeInRight">
                    <div class="img"><img src="{% static 'assets/img/spa/7.png' %}" alt=""></a>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>

        <div class="container sjyw">
            <div class="row">
                <div class="col-md-12 mb-10 animate-box" data-animate-effect="fadeInUp"> 
                    
              
                    <div id="name_header" class="section-title">Our Vision</div>
                    <p id="name_description">To become the leading Christian printing firm in Africa and beyond. </p>
                        
                        
                    
                        <!-- reservation -->
                    
                    {% comment %} <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Reservation</p> <a href="tel:855-100-4444">0715 672 029</a>
                        </div>
                    </div> {% endcomment %}
                </div>
              
            </div>
        </div>
    </section>
<!-- Team -->
{% comment %} <section class="team section-padding bg-cream">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-subtitle">Professionals</div>
                <div class="section-title">Meet The Team</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                {% if team %}
                {% for t in  team %}
                <div class="item">
                
                    <div class="info">
                        <h6>{{t.name}}</h6>
                        <p>{{t.description}}</p>
                        <div class="social valign">
                            <div class="full-width"> 
                               <a href="#"><i class="ti-instagram"></i></a> 
                               <a href="#"><i class="ti-twitter"></i></a> 
                               <a href="#"><i class="ti-facebook"></i></a> 
                               <a href="#"><i class="ti-pinterest"></i></a>
                               <p>victoria@hotel.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
                {% endif %}
              
            </div>
        </div>
    </div>
</section> {% endcomment %}

  <!-- Clients -->
  {% comment %} <section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                {% if team %}
                {% for t in  team %}
                <div class="item">
                
                    <div class="info">
                        <h6>{{t.name}}</h6>
                        <p>{{t.description}}</p>
                        <div class="social valign">
                            <div class="full-width"> 
                               <a href="#"><i class="ti-instagram"></i></a> 
                               <a href="#"><i class="ti-twitter"></i></a> 
                               <a href="#"><i class="ti-facebook"></i></a> 
                               <a href="#"><i class="ti-pinterest"></i></a>
                               <p>victoria@hotel.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
                
                {% endif %}
              
            </div>
        </div>
    </div>
</section> {% endcomment %}


<script>  

   
    const spanMore   = document.getElementById("spanMore");
    const spanLess  =  document.getElementById("spanLess")

    spanMore.onclick = function(){ 
       document.getElementById("moreKijabe").style.display = "block";
       spanMore.style.display  ="none";
     
    
    };


</script>


<script>


    function  handClikc (e){
        console.log(e)
        document.getElementById(`1_clikc`).style.color = "white"
        document.getElementById(`1_clikc`).style.textDecoration = "none"
        document.getElementById(`2_clikc`).style.color = "white"
        document.getElementById(`2_clikc`).style.textDecoration = "none"
        document.getElementById(`3_clikc`).style.color = "white"
        document.getElementById(`3_clikc`).style.textDecoration = "none"
        document.getElementById(`4_clikc`).style.color = "white"
        document.getElementById(`4_clikc`).style.textDecoration = "none"
        
        document.getElementById(`5_clikc`).style.color = "white"
        document.getElementById(`5_clikc`).style.textDecoration = "none"
        document.getElementById(`6_clikc`).style.color = "white"
        document.getElementById(`6_clikc`).style.textDecoration = "none"

        const headerd =  document.getElementById("name_header");
        const bodyH =  document.getElementById("name_description")

        if(e.includes("2")){
            headerd.innerText = "Our Vision"
            bodyH.innerText = "To become the leading Christian printing firm in Africa and beyond."

        }else if(e.includes("3")){
            headerd.innerText = "Our Mision"
            bodyH.innerText = "To provide quality, efficient and affordable printing services to all our clients and to support the Church and other Christian organizations in fulfilling the Great Commission. "

        } else if(e.includes("4")){
            headerd.innerText = "Our Core Values"
           
            bodyH.innerHTML = `<ol> 
                <li> i. Integrity </li>
                <li> ii.  Commitment </li>
                <li> iii.	Dynamism </li>
                <li> iv.	Reliability</li>
                <li>v.	Excellence</li>
                <li>vi.	Innovation</li>
                
                </ol>`

        }else if(e.includes("5")){
            headerd.innerText = "Our Core Values"
           
            bodyH.innerText = "Committed to Printing with Integrity."


        }
        





        document.getElementById(`${e}`).style.color = 'blue';
        document.getElementById(`${e}`).style.textDecoration = "underline"
    };


</script>





{% endblock content %}