{% extends 'base.html' %}
{% load static %}


{% block content %}


  <!-- Room Page Slider -->
  <header class="header slider">
    <div class="owl-carousel owl-theme">
        <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
        <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static 'assets/img/slider/11.webp' %}"></div>
        <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static 'assets/img/slider/17.jpg' %}"></div>
        <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static 'assets/img/slider/18.jpg' %}"></div>
    </div>
    <!-- arrow down -->
    <div class="arrow bounce text-center">
        <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
    </div>
</header>
<!-- Room Content -->
<section class="rooms-page section-padding" data-scroll-index="1">
    <div class="container">
        <!-- project content -->
        <div class="row">
            <div class="col-md-12"> 
                <span>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                    <i class="star-rating"></i>
                </span>
                <div class="section-subtitle">Our Services</div>
                <div class="section-title">Delivery Services</div>
            </div>
            <div class="col-md-8">
                <p class="mb-30">With our fleet of vehicles we do timely deliveries of your finished goods right at your doorstep. Delivery within Nairobi and its environs is at no extra charge.</p>
                <p class="mb-30">Tempus egestas sed sed risus pretium. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Aliquam vestibulum morbi blandit cursus risus at. </p>
                <div class="row">
                    <div class="col-md-6">
                        <h6>We offer Delivery :-</h6>
                        <ul class="list-unstyled page-list mb-30">
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Books</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Magazines</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Diaries</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Calendars</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        
                        <ul class="list-unstyled page-list mb-30">
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Journals</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Posters</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Business Cards</p>
                                </div>
                            </li>
                            <li>
                                <div class="page-list-icon"> <span class="ti-check"></span> </div>
                                <div class="page-list-text">
                                    <p>Brochure</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <h6>Special Requests</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo eget magna fermentum iaculis eu non diam. </p>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="butn-dark mt-15 mb-30"> <a href="contact.html"><span>Contact Us today for your Delivery</span></a> </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>


{% endblock content %}