{% extends 'base.html' %}
{% load static %}




{% block content %}

    <!-- Slider -->
    <header class="header slider-fade">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            {% comment %} <div class="text-center item bg-img" data-overlay-dark="2" data-background="{% static 'assets/img/slider/2.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>Welcome to kijabe printing press</h4>
                                <h1>A Christian printing firm in Africa</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Books & Services</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}

            {% if banner %}
            {% for u in  banner %}
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="{{u.image.url}}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>{{u.subtitle}}</h4>
                                <h1 style="color:#2b00db !important;">{{u.title}}</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Books & Services</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% comment %} <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static 'assets/img/slider/1.jpg' %}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>The Ultimate printing Experience</h4>
                                <h1>Committed to Printing with Integrity</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Books & Services</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <!-- slider reservation -->
        <div class="reservation">
            <a href="tel:8551004444">
                <div class="icon d-flex justify-content-center align-items-center">
                    <i class="flaticon-call"></i>
                </div>
                <div class="call"><span>0715 672 029</span> <br>Get in touch</div>
            </a>
        </div>
    </header>
    <!-- About -->
    <section class="about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                    <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">Kijabe Printing Press</div>
                    <div class="section-title">A Christian printing firm</div>
                    <p>Africa Inland Church (A.I.C) Kijabe Printing Press is a Christian based Private Company, which was established over 50 years ago. Initially it was established to print Christian literature, but later ventured into commercial printing. It’s one of the leading printing companies in Kenya and a growing brand in Africa.</p>
                    <p>Through the many years of experience in printing, A.I.C Kijabe Printing Press has cut for itself a niche in the market. We specialize in translating our clients’ ideas into high quality printed materials.</p>

                    <!-- call -->
                    <div class="reservations">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p>Contact us</p> <a href="tel:855-100-4444">0715 672 029</a>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="{% static 'assets/img/rooms/11.jpg' %}" alt="" class="mt-90 mb-30">
                </div>
                <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                    <img src="{% static 'assets/img/rooms/12.jpeg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms -->
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Kijabe Printing Press</div>
                    {% comment %} <div class="section-title">Our Services</div> {% endcomment %}
                </div>
            </div>
            <div class="row">

                {% if kijabe_services %}
                {% for k in kijabe_services  %}
                <div class="col-md-4">
                    <div class="item">
                        <div class="position-re o-hidden"> <img src="{{k.service_image.url}}" alt=""> </div> <span class="category"><a href="product1.html">Learn More</a></span>
                        <div class="con">
                            
                            <h5><a href="product1.html">{{k.service_name}}</a> </h5>
                            <div class="line"></div>
                            <div class="row facilities">
                                
                                <div class="col col-md-5 text-right">
                                    <div class="permalink"><a href="product1.html">Details <i class="ti-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                
             
                
            </div>
        </div>
    </section>
    <!-- Pricing -->
    {% comment %} <section style="background: #E0BFB8!important;" class="pricing section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="section-subtitle"><span>Kijabe Press</span></div>
                    <div class="section-title"><span>Production</span></div>
                    <p class="#023161">Our customer service personnel are highly qualified to deal with all your enquires on our services. We give you expert advice and customize our mode of service delivery to suit your convenience. With us you will experience:</p>
                    <p class="#023161">
                        <li>Professional customer care.</li>
                        <li>Prompt and quality service.</li>
                        <li>Timely feedback and delivery.</li>
                        <li>Service at your place of convenience.</li>
                        <li>Competitive prices.</li>
                        <li>Expert advice</li>
                    </p>
                    <div class="reservations mb-30">
                        <div class="icon"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-2">For information</p> <a href="tel:855-100-4444">0715 672 029</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="owl-carousel owl-theme">
                        <div class="pricing-card">
                            <img src="{% static 'assets/img/pricing/5.jpg' %}" alt="">
                            <div class="desc">
                                <div class="amount">Prepress</div>
                                <p>This department originates all production work. Our highly qualified designers will give your manuscript the professional touch needed to make it attractive to your intended readers. Our modern computers loaded with hi-tech design programs, together with our state –of –the-art prepress machinery make us really efficient in what we do.</p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'assets/img/pricing/6.jpg' %}" alt="">
                            <div class="desc">
                                <div class="amount">Press</div>
                                <p>This is where the actual printing takes place. We have at our disposal modern printing
                                    machines, which run at high speed while ensuring quality.</p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'assets/img/pricing/7.jpg' %}" alt="">
                            <div class="desc">
                                <div class="amount">BINDERY/BOOK FINISHING</div>
                                <p>This department is equipped with highly efficient machines for both sandle-stitched and perfect bound books. Our UV vanishing machines for both full and spot vanishing give your cover the glossy appearance that makes it really attractive. Our state-of-the-art equipment gives you a wide range of finish effects.
                                </p>
                            </div>
                        </div>
                        <div class="pricing-card">
                            <img src="{% static 'assets/img/pricing/8.jpg' %}" alt="">
                            <div class="desc">
                                <div class="amount">QUALITY ASSURANCE</div>
                                <p>To guarantee quality, we have developed our operation system such that it tracks the job at every stage, right from origination to completion, with scrupulous attention to every detail to ensure that each copy produced is perfect.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3" data-background="{% static 'assets/img/slider/2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                       <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i></span>
                        <div class="section-subtitle"><span>Kijabe Printing Press</span></div>
                        <div class="section-title"><span>Promotional Video</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center col-md-12">
                        <a class="vid" href="https://www.youtube.com/watch?v=vr1DWTvsiyM">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                    </div>

                </div>
            </div>
    </section>
    <!-- Facilties -->
    <!-- <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle">Books</div>
                    <div class="section-title">Sifuni Bwana Foundation</div>
                </div>
            </div>
            <div class="row">

                {% if all_books %}
                {% for f in  all_books %}
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <img width="400" height="600" src="{{f.book_image.url}}" />
                        <h5 style="margin-top:10px;"><a href ="{{f.book_link}}" >{{f.book_title}} </a></h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-world"></span> </div>
                    </div>
                </div>
                
                {% endfor %}

                {% endif %}
           
                {% comment %} <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-car"></span>
                        <h5>Praise Ye The Lord</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-car"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-bed"></span>
                        <h5>Nyimbo Cia Kugooca Mwathani</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-bed"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-swimming"></span>
                        <h5>Pakura Ruoth</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-swimming"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-car"></span>
                        <h5>Maasai (Isinkoliotin)</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-car"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-bed"></span>
                        <h5>Nyimbo Cia Kuguna maroho</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-bed"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-swimming"></span>
                        <h5>Nyimbo Cia Roho Mutheru</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-swimming"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-wifi"></span>
                        <h5>Mutaiei Mwiai</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-wifi"></span> </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <span class="flaticon-breakfast"></span>
                        <h5>Nyimbo Cia Kiroho</h5>
                        <p>
                            <li></li>
                            <li></li>
                            <li></li>
                        </p>
                        <div class="facility-shape"> <span class="flaticon-breakfast"></span> </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section> -->
    <!-- Booking Search -->
   <!-- <section class="section-padding bg-cream">
        <div class="container">
            <div class="section-subtitle">Check Now</div>
            <div class="section-title">Get a Quote</div>
            <div class="booking-inner clearfix">
                <form class="form1 clearfix">
                    <div class="col1 c1">
                        <div class="input1_wrapper">
                            <label>Full Names</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input " placeholder="Full Names">
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper">
                            <label>Email</label>
                            <div class="input1_inner">
                                <input type="text" class="form-control input " placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Paper Size</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Paper Size</option>
                                    {% if paper_size %}
                                    {% for k in paper_size  %}
                                    <option value="{{k.id}}">{{k.paper_size}}</option>
                               
                                    {% endfor %}
                                    {% endif %}
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Number of pages</label>
                            <div class="input1_inner">
                                <input type="number" class="form-control input " placeholder="Number Of Pages">
                            </div>
                        </div>
                    </div>
                    <div class="col2 c4">
                        <div class="select1_wrapper">
                            <label>Binding</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Binding</option>
                                    {% if all_bindings %}
                                    {% for b in all_bindings  %}
                                    <option value="{{b.id}}">{{b.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper">
                            <label>Paper for Text</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Paper for Text</option>
                                    {% if all_paper_for_text %}
                                    {% for p in all_paper_for_text  %}
                                    <option value="{{p.id}}">{{p.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                    
                                   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c1">
                        <div class="input1_wrapper">
                            <label>Color for Text</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Color for Text</option>
                                    {% if all_color_for_text %}
                                    {% for pp in all_color_for_text  %}
                                    <option value="{{pp.id}}">{{pp.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                    
                                   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col1 c2">
                        <div class="input1_wrapper">
                            <label>Printed Sides of the Paper for Text</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Printed Sides of the Paper for Text</option>
                                    {% if printed_sides %}
                                    {% for ppp in printed_sides  %}
                                    <option value="{{ppp.id}}">{{ppp.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                    
                                   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Paper for Cover</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Paper for Cover</option>
                                    {% if paper_cover %}
                                    {% for pppp in paper_cover  %}
                                    <option value="{{pppp.id}}">{{pppp.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c3">
                        <div class="select1_wrapper">
                            <label>Color for Cover</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Color for Cover</option>
                                    {% if color_for_cover %}
                                    {% for ik in color_for_cover  %}
                                    <option value="{{ik.id}}">{{ik.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c8">
                        <div class="select1_wrapper">
                            <label>Printed Sides of the Paper for Cover</label>
                            <div class="select1_inner">
                                <select class="select2 select" style="width: 100%">
                                    <option value="1">Printed Sides of  <br>the Paper for Cover</option>
                                    {% if printed_sides_of_paper %}
                                    {% for ikk in printed_sides_of_paper  %}
                                    <option value="{{ikk.id}}">{{ikk.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col2 c5">
                        <div class="select1_wrapper">
                            {% comment %} <label>Type here your special requirements</label> {% endcomment %}
                            <div class="select1_inner">
                                {% comment %} <select class="select2 select" style="width: 100%">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <option value="4">4 Rooms</option>
                                </select> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col3 c6">
                        <button type="submit" class="btn-form1-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

-->


    <!-- News -->
    <section style="background: #E0BFB8!important;" class="news section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>Kijabe Blog</span></div>
                    <div class="section-title"><span>Our News</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/7.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>02</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Hot News</a>
                                </span>
                                <h5><a href="post.html">Sifu Bwana</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/8.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">News</a>
                                </span>
                                <h5><a href="post.html">Our Mobile Apps</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/9.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>06</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">News</a>
                                </span>
                                <h5><a href="post.html">Our New Books</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/10.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> 
                                <span class="category">
                                    <a href="news.html">News</a>
                                </span>
                                <h5><a href="post.html">Change in Management</a></h5>
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/11.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">News</a>
                                </span>
                                <h5><a href="post.html">Our offers</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="{% static 'assets/img/news/12.jpg' %}" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">News</a>
                                </span>
                                <h5><a href="post.html">Printing price</a></h5>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

  


{% endblock content %}